LOGLEVEL="info"

POSTGRES_DATABASE={"NAME": "NAME","USER": "USER","PASSWORD": "PASSWORD","HOST": "HOST","PORT": 5432}

REDIS_LOCATION=redis://localhost:6379

ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=config.django.local

MYPY_DJANGO_CONFIG=./mypy.ini

JAEGER_HOST=localhost
JAEGER_PORT=6831

JWT_SECRET_KEY="JWT_SECRET_KEY"
JWT_ACCESS_EXPIRATION_MINUTES=3600
JWT_REFRESH_EXPIRATION_DAYS=7

SMS_MODULE_TYPE="MODULE"

LOGIN_TOKEN_LENGTH=5
LOGIN_TOKEN_TTL=2
